body {
	background-image: url("pizza2.jpg");
}
a {
	text-decoration:none;
	font-family: 'Gloria Hallelujah', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Rancho', cursive;
font-size: 30px;
padding-left: 30px;
display: inline;
}
h1 {
	font-family: 'Gloria Hallelujah', cursive;
font-family: 'Cabin Sketch', cursive;
font-size: 70px;
text-align: center;
}
.cl-effect-10 a {
	color: rgba(0,0,0,0.2);
	font-weight: 700;
	text-shadow: none;
	color: 	#2E8B57;
}

.cl-effect-10 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	transition: transform 0.3s, opacity 0.3s;
	color: #8B0000;
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
	transform: scale(0.9);
	opacity: 0;
}
.cl-effect-10 {
	text-align: center;
	margin-top: -50px;
}
input {
	text-align: center;
}
.one {
	background-color: blue;
}
